body {
  text-align: center;
  background-color: #000;
}

.grad {
  background-image:
    url('/src/assets/images/banner.png');
    width:100vw;
    /* height:100vh; */
    /* height: 500px; */
    background-size: cover;
    background-repeat: no-repeat;
}


.logo img {
  width: 50%;
}


.button img {
  width: 250px;
}


.farmButtons img {
  width: 200px;
}